---

- include: kubeconfig.yml
  tags:
  - kubeconfig

- include: registry.yml
  when:
  - mirror_registry is defined
  tags:
  - registry

- include: calico.yml
  when:
  - k3s_control_node is defined
  - k3s_control_node
  - calico.enabled is defined
  - calico.enabled
  tags:
  - calico

- include: secrets.yml
  when:
  - k3s_control_node is defined
  - k3s_control_node
  - k3s_etcd_datastore is defined
  - k3s_etcd_datastore
  tags:
  - secrets

- include: flux.yml
  when:
  - k3s_control_node is defined
  - k3s_control_node
  - k3s_etcd_datastore is defined
  - k3s_etcd_datastore
  tags:
  - flux
