---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: traefik
  namespace: networking
spec:
  interval: 5m
  chart:
    spec:
      # renovate: registryUrl=https://helm.traefik.io/traefik
      chart: traefik
      version: 9.19.0
      sourceRef:
        kind: HelmRepository
        name: traefik-charts
        namespace: flux-system
  values:
    globalArguments:
      - "--global.checknewversion"
      - "--serverstransport.insecureskipverify=true"
      - "--metrics.prometheus=true"
    logs:
      general:
        format: json
        level: INFO
      access:
        enabled: true
        format: json
    service:
      spec:
        externalTrafficPolicy: Local
        loadBalancerIP: "${INGRESS_NGINX_LB}"
    ports:
      web:
        redirectTo: websecure
      websecure:
        tls:
          enabled: true
    ingressRoute:
      dashboard:
        enabled: false
    pilot:
      enabled: true
    experimental:
      plugins:
        enabled: true
    rollingUpdate:
      maxUnavailable: 3
      maxSurge: 3
    resources:
      requests:
        cpu: "100m"
        memory: "50Mi"
      limits:
        cpu: "300m"
        memory: "150Mi"
    tlsOptions:
      default:
        minVersion: VersionTLS12
        cipherSuites:
        - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
        - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
        - TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305
        - TLS_AES_128_GCM_SHA256
        - TLS_AES_256_GCM_SHA384
        - TLS_CHACHA20_POLY1305_SHA256
        curvePreferences:
        - CurveP521
        - CurveP384
