---
apiVersion: v1
kind: Namespace
metadata:
  name: flux-system
---
apiVersion: v1
data:
  sops.asc: {{ gpg_secret }}
kind: Secret
metadata:
  creationTimestamp: null
  name: sops-gpg
  namespace: flux-system
